@import url(variables.scss);

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  box-sizing: border-box;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    border: none;
    padding: 2px 0;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $primary;
    border: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

#primary__btn {
  padding: 15px 30px;
  background-color: $primary;
  color: white;
  border-radius: 40px;
}

#secundary__btn {
  padding: 15px 30px;
  background-color: transparent;
  color: $dark;
  border: 1px solid $dark;
  border-radius: 40px;
}

#rounded__input {
  padding: 5px 15px;
  color: $dark;
  border: 1px solid $dark;
  outline: none;
  border-radius: 40px;
}
